
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Seleccion de nivel 3 imagenes en horzontal seleccionables*/

.container-mode{
    width: 100%;
    /*poner de background-image varias urls*/

    background-color: rgb(28, 29, 28);
    padding: 25px 30px;
    justify-content: center;
}

.levels-section{
    position: relative;
    width: auto;
    display: block;
    margin: 0 auto;
    background-size: 100px;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.div-chapter{
    position: relative;
    display: inline-block;
    padding: 15px;
    width: 250px;
    height: 500px;
    border: 5px solid rgb(0, 0, 0);
    margin: 15px;
    top: 50px;
    background-color: aliceblue;
    border-radius: 5px;
}

.div-chapter:hover{
    cursor: pointer;
    transform: scale(1.1);
    animation: 0.5s ease-in-out;
}

.chapter-level{
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.fondo1{
    background-image: url("../imgs/characters/guillem.png");
    background-color: rgb(255, 255, 255);
    background-size: 35px;
}
.fondo2{
    background-image: url("../imgs/characters/illo.png");
    background-color: rgb(83, 76, 173);
    background-size: 35px;
}
.fondo3{
    background-image: url("../imgs/characters/bokeron.png");
    background-color: rgb(133, 161, 32);
    background-size: 30px;
}
.fondo4{
    background-image: url("../imgs/characters/yannis.png");
    background-color: rgb(197, 76, 55);
    background-size: 40px;
}

.div-chapter h1{
    font-size: 34px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0,0.7);
    border-radius: 5px;
    font-family: 'Nova Square', cursive;}

.big-button-chapter{
    position: relative;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    margin-top: 50px;
}
.button-chapter{
    position: relative;
    width: 100px;
    height: 40px;
    background-color: rgb(45, 134, 27);
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
.big-button-chapter:hover{
    cursor: pointer;
    transform: scale(1.1);
    animation: 0.5s ease-in-out;
}

.button-chapter:hover {
    cursor: pointer;
    transform: scale(1.1);
    animation: 0.5s ease-in-out;
}

.a-btn-chapter{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    width: 100%;
}

.chapter-menu{
    
    margin: 0 auto;
    width: auto;
    height: 80px;
    color: black;   
    text-align: center;
    margin-bottom: 30px;
    padding: 5px 10px;
    left: 40%;
    top:-10px
}

.chapter-menu li{
    display: inline-block;
    margin: 10px
}

.chapter-menu li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.chapter-menu li a:hover{
    font-weight: 700;
}

.select-level{
    position: relative;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 5px 10px;
}

.levels-for-select{
    position: relative;
    width: 150px;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 5px 10px;
    font-family: 'Nova Square', cursive;
    font-weight: 600;
}

option{
    color: black;
    font-size: 15px;
    font-family: 'Nova Square', cursive;
    font-weight: 600;
}

.mode-description{
    position: relative;
    width: 65%;
    height: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;;
    padding: 5px 10px;
    font-weight: 600;
    margin-top: 35px;
    display: none;
    margin-bottom: -15px;
    display: none;
}

.mode-description p{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nova Square', cursive;
    background: rgb(0, 0, 0, 0.6);
    border: 2 px solid black;
    border-radius: 5px;
    padding: 20px;
}

.mode-description a{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nova Square', cursive;
    color: rgb(11, 145, 62);
   
}

.salida{
    position: relative;
    width: 100%;
    height: 100px;
    color: black;
    text-align: center;
    padding: 5px 10px;
    font-weight: 600;
    margin-top: 60px;
}

.exit{
    width:130px;
    height: 60px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}