@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root{
    background-color: rgb(154, 235, 88);
}

/*Genéricos */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62%;
    font-family: 'Nova Square', cursive;
}

h1{
    font-size: 7.4rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

h3{
    font-size: 3.2rem;
    margin-bottom: 3rem;
    color: white;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.mb-5{
    margin-bottom: 10px;
}

.hidden{
    display: none;
    
}

#header{
    width: 100%;
    padding: 5px;
    background-color: black;
}
.menu-header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;   
    text-align: center;
    position: relative;
    display: block;
    padding: 5px 10px;
    height: 70px;

}

.menu-header li{
    
    position: relative;;
    display: inline-block;
    
}

.menu-header a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.menu-header-icons{
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 15px;
}


.info-menu{
    position: relative;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    top: 15px;
}
.info-menu-game{
    position: relative;
    width: 25%;
    text-align: center;
    top: -53px;
    margin: 0 auto;
}

.infogame{
    position: fixed;
    display: none;
    width: 850px;
    height: 730px;
    text-align: center;
    margin: 0 auto;
    top: 80px;
    left: 25%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 35px;
    color: white;
    background-color: black;
    z-index: 5000;
}

.infogame h2{
    font-size: 45px;
    margin-bottom: 5px;
    margin: 5px;
    font-family: 'Nova Square', cursive;
}

.infogame p{
    font-size: 16px;
    margin: 25px;
    line-height: 20px;
    font-family: 'Nova Square', cursive;
}

.b-light{
    font-size: 1px;
    font-family: 'Nova Square', cursive;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.infogame p b{
    font-size: 22px;
    font-family: 'Nova Square', cursive;
    color: rgb(0, 255, 13);
    font-weight: 700;
}

.infogame a{
    text-decoration: none;
    color: rgb(40, 102, 196);
    font-size: 18px;
    margin: 25px;
    line-height: 20px;
    font-family: 'Nova Square', cursive;
}

b{
    font-size: 25px;
    font-family: 'Nova Square', cursive;
    color: rgb(0, 255, 13);
    font-weight: 700;
}



/*Botones*/

.big-button-chapter{
    position: relative;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    margin-top: 50px;
}
.button-chapter{
    position: relative;
    width: 100px;
    height: 40px;
    background-color: rgb(45, 134, 27);
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
.big-button-chapter:hover{
    cursor: pointer;
    transform: scale(1.1);
    animation: 0.5s ease-in-out;
}

.button-chapter:hover {
    cursor: pointer;
    transform: scale(1.1);
    animation: 0.5s ease-in-out;
}


.a-btn-chapter{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    width: 100%;
}
.a-btn-chapter:hover{
    text-decoration: none;
    color: rgb(0,255,13);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    width: 100%;
}
/*START PAGE*/
.container{
    width: 100%;
    background-image: url("../imgs/fondo-frutis.png");
    background-position: center;
    background-size: 40px;
    background-color:  rgb(28, 29, 28);
    padding: 25px 30px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    
}

.intro-game {
    position: relative;
    display: block;
    width: 950px;
    background-color: rgb(28, 29, 28);
    text-align: center;    
    border: 3px solid white;
    border-radius: 5px;
    padding: 75px 50px
}

#iconos-animados{
    border-bottom: 2px solid white;
    margin: 20px;
    text-align: center;
    background-color:  rgb(28, 29, 28, 0.8);
    border-radius: 5px;
}

/*animacion en la que las imagenes rotaran sobre si mismas 360 grados y se moveran alante y atras*/

.animados{
    width: 75px;
    height: 75px;
    display: inline-block;
    margin: 20px;
    animation: animacion 7s infinite;
    animation-timing-function: linear;
   
}

@keyframes animacion{
    0%{
        
        transform: rotate(0deg);
        
    }
    25%{
        
        transform: rotate(180deg);
    }
    50%{
        padding: 0 20px;
        transform: rotate(360deg);
    }
    75%{
       
        transform: rotate(-180deg);
        
    }
    100%{
        
        transform: rotate(360deg);
        
    }
}


.divBtns{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0 auto;
}

.big-button-chapter-start{
    position: relative;
    width: 250px;
    height: 75px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    border: 2px solid greenyellow;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
}
.button-chapter-start{
    position: relative;
    width: 200px;
    height: 60px;
    background-color:  greenyellow;
    border: 3px solid black;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    
}
.big-button-chapter-start:hover{
    cursor: pointer;
    transform: scale(1.1);
    animation: 0.5s ease-in-out;
}

.button-chapter-start:hover {
    cursor: pointer;
    transform: scale(1.1);
    animation: 0.5s ease-in-out;
}

.button-chapter-start a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Nova Square', cursive;
    width: 100%;
}


/*END PAGE*/

.end-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
}

input{
    width: 350px;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    margin-bottom: 20px;
}

input::placeholder{
    color: #aaa;
}

#username{
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
    text-align: center;
}

.endBtn{
    padding: 2rem 0;
    width: 40rem;
    margin-bottom: 1rem;
    background: rgb(40, 102, 196);
    border-radius: 4px;
    text-align: center;
    font-size: 3rem;
    color: white;
}

#end-text{
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.endScore{
    font-size: 4.4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

#saveScoreBtn{
    border: none;
    cursor: pointer;
}


/*FOOTER*/

footer{
    display: block;
    position: absolute;
    width: 100%;
    padding: 50px;
    background-color: black;
    text-align: center;
    

}

small{
    position: relative;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: 'Nova Square', cursive;
}